.blogs{
    padding: 30px 0px;
    margin-top: 40px;
    gap: 10px;
    
}
.blog{
   width: 50%; 
   margin-left: 10px;
 
}

.blogImg img{
    width: 100%;
    height: 100%;
}
.blogImg{
    height: 300px;
    position: relative;
}
.info{
    box-shadow: 6px 7px 2px 1px rgb(19, 22, 22);
  padding: 20px;  
  height: 200px;
  background-color: rgb(235, 233, 233);
}
.time{
    position: absolute;
    border: 1px solid ;
    text-align: center;
    border-radius: 10px;
    padding: 11px 40px;
    background-color: white;
    margin-top: -44px;
}
.blogText p{
color: rgb(131, 82, 17);
}