.nav{
    background-color: rgba(48, 46, 46, 0.925);
    z-index: 999;
    position: fixed;
    width: 100%;
}


.container{
    width: 80%;
    margin:  auto;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}
.button Link {
    text-decoration: none;
    list-style: none;
    color: aliceblue !important;
    font-size: medium;
}
.link{
    color: aliceblue;
    text-decoration: none;
}
.logo{
    margin-top: 4px;
}
.button{
    margin: 10px;
    
}
