h1{
    text-align: center;
}
.fromInput{
    width: 99%;
    margin-top: 5px;
    margin-left: 20px;
}
.form{
    background-color: burlywood;
    margin-bottom: 35px;
    width: 50%;
    padding: 20px;
    margin: 10px auto;
    border: 2px solid rgb(110, 69, 15);
}
.button{
    padding: 6px 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -100px;
}
.imgg{
    width: 30%;
    height: 300px;
}
.picture{
    width: 100%;
    height: 100%;
}
.pa{
    color: red;
}